<div class="container">
<nav id="navbar-example"
	class="navbar navbar-default navbar-static navbar-fixed-top"
	role="navigation">

	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse"
			data-target=".bs-js-navbar-scrollspy">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>

		<a class="navbar-brand" href="#">Web Development</a>
	</div>

	<div class="collapse navbar-collapse bs-js-navbar-scrollspy">
		<ul class="nav navbar-nav">
			<li><a href="#about">Home</a></li>
			<li><a href="#ourteam">Our Team</a></li>

			<li class="dropdown"><a href="#" id="navbarDrop1"
				class="dropdown-toggle" data-toggle="dropdown"> Projects Demo <b
					class="caret"></b>
			</a>

				<ul class="dropdown-menu">
					<li><a target="_blank"
						href="/ltewebver2/#/reports/dd/elte/c0ammsa/data3.json/30399091/MARKET_CARRIER/false/Structured%20Ad%20Hoc%20Report%20-%20Hourly%20Totals/CARRIER/c0ammsa">High
							Charts</a></li>
					<li><a href="/jqueryproject"><span class="blacktext">jQuery</span></a></li>
					<li><a href="resume.html"><span class="blacktext">Resume</span></a></li>

					<li class="divider">Python</li>
					<li><a href="#">Python</a></li>
					<ul class="dropdown-menu">
						<li><a href="#">Restaurant</a></li>
					</ul>
					<li class="divider">Mean Stack</li>
					<li><a href="#">Flapper News</a></li>
				</ul>
			</li> 
			<li><a href="#contactus">Contact Us</a></li>
			<li><a href="#include_projects">Projects</a></li>

		</ul>
	</div>

</nav>
</div>