
<!-- Team Container -->
<div class="container" id="ourteam">
	<h3 class="subtitle">Our Team<small> - Meet the team.</small></h3>
	<div class="row " align="center"> 
	 	<div class="col-sm-3  ">
			 <div class="panel panel-default">
               <div class="panel-body">
                      <img src="images/vishal.jpg" class="img-circle img-responsive " alt="Vishal Vijayakumar" width="304" height="236"> 
		 	<div  class="teamtext"> <h4>Vishal VijayaKumar</h4>
			<p>Web Designer</p></div></div></div>
		</div>
		<div class="col-sm-3  ">
			 <div class="panel panel-default">
               <div class="panel-body">
               <img src="images/saroja.jpg" class="img-circle img-responsive  " alt="Saroja Ammula" width="304" height="236"> 
               <div  class="teamtext">
			<h4>Saroja Ammula</h4>
			<p>FullStack Developer</p></div></div></div>
		</div>
		<div class="col-sm-3 ">
		    <div class="panel panel-default">
               <div class="panel-body">  
                        <img src="images/vishal.jpg" class="img-circle img-responsive" alt="Vishal Vijayakumar" width="304" height="236"> 
		 	
			 <div class="teamtext">
			<h4>Jan Ringo</h4>
			<p>  Developer</p></div></div></div>
			
		</div>
	</div>
</div>
