
<!-- Team Container -->
<div class="container" id="ourteam">
	<h3 class="subtitle">Our Team<small> - Meet the team.</small></h3>
	<div class="row"> 
	 	<div class="col-sm-4">
			<img     src="images/me.JPG" alt="Vishal Vijayakumar"  class="rotate90"></img>
			<h3>Vishal VijayaKumar</h3>
			<p>Web Designer</p>
		</div>
		<div class="col-sm-4">
			<img src="images/me.JPG" alt="Saroja Ammula"   class=" rotate90"></img>
			<h3>Saroja Ammula</h3>
			<p>FullStack Developer</p>
		</div>
		<div class="col-sm-4">
			<img src="/w3images/me.JPG" alt="Boss" style="width: 45%"
				class="w3-circle w3-hover-opacity rotate90" ></img>
			<h3>Jan Ringo</h3>
			<p>Boss man</p>
		</div>
	</div>
</div>
